.bodyy {
  margin-top: 80px;
  background-color: #152238;
}

.demo-container {
  /* background-color: #333; */
  padding: 1rem;
  padding-top: 0;
  margin-top: 1rem;
}

.draggable {
  background-color: #fff;
  border: 1px solid black;
  cursor: move;
  margin-top: 21.44px;
  margin-bottom: 21.44px;
}

.draggable.dragging {
  opacity: 0.5;
}

canvas {
  background-color: #f5f5f5;
}

canvas.chartjs-render-monitor {
  border: 0;
}
