.bodyy {
  margin-top: 80px;
  background-color: #152238;
}

.demo-container {
  padding: 1rem;
  padding-top: 0;
  margin-top: 1rem;
  height: 100vh;
}

h1 {
  background-color: #fff;
  border: 1px solid black;
  margin-top: 21.44px;
  margin-bottom: 21.44px;
}

.action-bar {
  background-color: #fff;
  border: 1px solid #152238;
  margin-top: 21.44px;
  margin-bottom: 21.44px;
}

.wishlist {
  background-color: #fff;
  border: 1px solid #152238;
}

.table-content {
  border-collapse: collapse;
  /* margin-top: 25px; */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 0.9em;
  width: 100%;
}

.table-content thead :first-child {
  width: 40%;
}
.table-content thead :nth-child(2) {
  width: 15%;
}
.table-content thead :nth-child(3) {
  width: 15%;
}
.table-content thead :nth-child(4) {
  width: 20%;
}

.table-content thead tr {
  background-color: #152238;
  color: #f5f5f5;
  text-align: left;
  font-weight: bold;
}

.table-content td,
th {
  padding: 12px 12px;
}

table,
th,
td {
  border: 1px solid black;
}

.delete-button:hover {
  cursor: pointer;
}

.action-bar {
  display: flex;
  list-style: none;
  background-color: #152238;
}

.action-bar-text {
  padding: 8px 16px;
  font-size: 24px;
  letter-spacing: 0.5px;
  border: 1px solid black;
  border-radius: 8px;
  background-color: #f5f5f5;
  margin-right: 16px;
}
